@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}



input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { content: '\f1fe'; }
label[for*='2']:before { content: '\f058'; }
label[for*='3']:before { content: '\f057'; }
label[for*='4']:before { content: '\f1a9'; }

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

#table_general1{
  font-size: 13px;
}
#table_general2{
  font-size: 13px;
}
#table_general3{
  font-size: 13px;
}


.activity_table{
  color: #fff; 
  background-color: #10CA7E;
}
.ready_table{
  color: #000; 
  background-color: #FB1;
}
.stop_table{
 color: #fff; 
 background-color: #F00B42;
}

nav.navbar {
            margin: 0; 
            padding: 5px; 
            list-style-type: none; 
            text-align: center; 
            background-color: #24363e; 
            border:0px solid #24363e;
            padding: .5em 2px;
            margin:0;
            padding:0;
            font-family: 'Poppins', sans-serif; 
            }
        nav div > ul > li > a {  font-size: 16px;line-height: 32px;padding: 0 16px;color: #fff}
        .navbar-brand { padding: 0px;}
        .navbar-brand>img { padding: 7px 10px; }
         nav ul li:hover { background-color: #00CED1;}
        .dropdown-toggle:active, .open .dropdown-toggle { background:#00CED1 !important; color:#000 !important;}
        .dropdown-menu {background-color: #FFFFFF;color: #red;}
        .dropdown-menu > li > a {color: #000}
        .dropdown-menu > li > a:hover,
        .dropdown-menu > li > a:focus {text-decoration: none;color: #000 !important;}


        #table_general {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        #table_general td, #table_general th {
            border: 1px solid #ddd;
            padding: 8px;
        }
        #table_general tr:nth-child(even){background-color: #f2f2f2;}
        #table_general tr:hover {background-color: #ddd;}
        #table_general th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

        #title_table1 {
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            color: #009189;
            display: inline-block;
        }

      